body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

h1 {
  position: relative;
  left: 0.24em;
  top: 0em;
  margin: 0.2em 0.2em 0.1em 0.04em;
  color: #FFFFFF;
  font-size: 6.2em;
  display: inline-block;

}

h2 {
	margin-top: 0px;
}

.user-submit {
  position: relative;
  left: 1.1em;
  color: #FFFFFF;
  background-color: #FFC107;
  border-style: none;
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  margin: 0em auto 2em;
  width: 34.5em;
  height: 2.1em;
}

.user-submit:hover {
  background-color: #FFD773;
}

.user-submit:disabled {
	background-color: #F05A28;
}

.left-side {
	background-color: #455A64;
	width: 50%;
	height: 100vh;
  position: absolute;
}

.right-side {
	background-color: #CFD8DC;
	width: 50%;
	height: 100vh;
	margin-left: auto;
  position: relative;
  padding: 1.3em 0em 0em 0em;
}

.container {
	/*margin: auto;*/
  position: relative;
  top: 20%;
}

.logo {
  width: 1.1em;
}

.website-input {
  position: relative;
  left: 0%;
  width: 24.5em;
  height: 1.5em;
  display: block;
  margin: 1em auto 2.5em;
  padding: 0.15em 0em 0.15em 0.4em;
  font-size: 1.65em;
  letter-spacing: 0.04em;
}

.website-input::placeholder {
  color: #BBBDBF;
}

.bookmark-cards {
	background-color: #FFFFFF;
	border: 1px solid #607D8B;
	margin: 0em 25px 30px 25px;
	padding: 10px 20px;
  position: absolute;
}

.delete-btn {
	margin-left: 541px;
}

.bookmark-btn {
	border: none;
	color: #455A64;
	font-family: 'Open-Sans', sans-serif;
	background-color: transparent;
	text-decoration: underline;
	text-decoration-color: #F2F4F4;
}

.bookmark-btn:hover {
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.bookmark-content {
	color: #455A64;

}

.bookmark-content-url {
	color: #607D8B;
	text-decoration: underline;
	text-decoration-color: #F2F4F4;
}

.bookmark-content-url:hover {
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.read {
	color: #F05A28;
}





