body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

h1 {
  margin: 0.2em 0.2em 0.1em 0.04em;
  color: #FFFFFF;
  font-size: 6.2em;
  display: inline-block;
}

.user-submit {
  color: #FFFFFF;
  background-color: #FFC107;
  border-style: none;
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  margin: 0em auto 2em;
  width: 85%;
  height: 2.1em;
}

.user-submit:hover {
  background-color: #FFD773;
}

.user-submit:disabled {
	background-color: #F05A28;
}

.left-side {
	background-color: #455A64;
	width: 50%;
	height: 100vw;
  position: absolute;
  text-align:center;
}

.logo {
  width: 1.1em;
}

.website-input {
  width: 85%;
  height: 1.5em;
  display: block;
  margin: 1em auto 2.5em;
  padding: 0.15em 0em 0.15em 0.4em;
  font-size: 1.65em;
  letter-spacing: 0.04em;
}

.website-input::placeholder {
  color: #BBBDBF;
}

.right-side {
  background-color: #CFD8DC;
  width: 50%;
  height: 100vw;
  right: 0;
  position: absolute;
  padding: 0em 0em 0em 0em;
}

.bookmark-cards {
	background-color: #FFFFFF;
	border: 1px solid #607D8B;
	margin: 1em 1.2em 1.4em 1.2em;
	padding: 0.6em 1.2em;
}

.delete-btn {
	margin-left: 541px;
}

.bookmark-btn {
	border: none;
	color: #455A64;
	font-family: 'Open-Sans', sans-serif;
	background-color: transparent;
	text-decoration: underline;
	text-decoration-color: #F2F4F4;
}

.bookmark-btn:hover {
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.bookmark-content {
	color: #455A64;

}

.bookmark-content-url {
	color: #607D8B;
	text-decoration: underline;
	text-decoration-color: #F2F4F4;
}

.bookmark-content-url:hover {
	font-weight: 800;
	text-decoration-color: #FFC107;
}

.read {
	color: #F05A28;
  background-color: #F2F4F4;
}

.bookmark-interactions {
  top: 0em;
  width: 100%;
  height: 7em;
  background-color: #F2F4F4;
  text-align: center;
}

.bookmark-info {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 2em;
  margin-top: 1.5em;
  color: #455A64;
}

button.bookmark-info {
  margin: 0px auto;
  width: 100%;
  border: none;
  background-color: #FFC107;
  color: #FFFFFF;
}

.cards-read {
  color: #F05A28;
}

@media only screen and (max-width: 1370px){
  h1 {
    font-size: 82px;
  }
}

@media only screen and (max-width: 1155px){
  h1 {
    font-size: 75px;
  }
}

@media only screen and (max-width: 880px){
  .left-side {
  width: 100%;
  height: 100%;
  position: static;
}

.right-side {
  width: 100%;
  height: 100%;
  position: static;
}

div.bookmark-interactions {
  width: 100%;
  max-width: 100%;
  height: 150px;
}
}


